header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: $secondary2;
    box-shadow: 0px 4px 7.3px 1px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 999999;

    img {
        position: absolute;
        left: 3.54%;
        right: 89.43%;
        top: 15%;
        bottom: 21.25%;
        width: 135px;
    }

    .menu {
        display: flex;
        gap: 20px;

        a {
            font-family: 'Bobaesum Jindo TTF';
            font-style: normal;
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 1.5rem;
            color: $primary;
            transition: color 1s;
            position: relative;

            &:hover {
                color: #FF5176;
            }

            &::before {
                position: absolute;
                content: '';
                width: 0;
                height: 4px;
                background-color: #FF5176;
                bottom: -7px;
                left: 50%;
                transform: translateX(-50%);
                transition: width 1s ease-in-out;
                border-radius: 50px;
            }

            &::before {
                height: 0.15rem;
            }

            &:hover::before {
                width: 2.5rem;
            }

            &:nth-of-type(3):hover::before {
                width: 5.5rem;
            }

            &:nth-of-type(4):hover::before {
                width: 6.5rem;
            }

            &:nth-of-type(5) {
                font-family: 'Pretendard Variable';
                font-style: normal;
                font-weight: 700;
                font-size: 1rem;
                color: $textStrong;
            }

            &:nth-of-type(6) {
                font-family: 'Pretendard Variable';
                font-style: normal;
                font-weight: 700;
                font-size: 1rem;
                color: $textStrong;
            }
        }
    }

    .menu-button {
        position: absolute;
        right: 7%;
        top: 0.41%;
        background: none;
        border: none;
        outline: none;
        display: none;
        width: 56px;
        height: 56px;
    }

    // 반응형
    @media (max-width: 1024px) {
        .menu {
            display: none;

            a {
                font-size: 1rem;
                &:nth-of-type(5) {
                    font-size: 0.7rem;
                }
    
                &:nth-of-type(6) {
                    font-size: 0.7rem;
                }
            }
        }

        .menu.open {
            position: absolute;
            width: 100%;
            justify-content: center;
            display: flex;
            flex-direction: row;
            align-items: center;
            top: 48px;
            background: #FFF9D1;
            height: 80px;
            box-shadow: 0px 4px 7.3px rgba(0, 0, 0, 0.25);
        }

        .menu-button {
            display: block;
            position: absolute;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 100%;
        max-height: 28px;

        img {
            height: 17px;
            width: auto;
            left: 5%;
        }

        .menu-button {
            background: none;

            img {
                position: absolute;
                top: 8%;
                left: 80%;
            }
        }

        .menu {
            display: flex;
            flex-direction: row;
            align-items: center;

            a {
                font-size: 0.5rem;
            }
        }
    }
}
